@media only screen and (max-width: 768px) {
    .time-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        font-family: sans-serif;
        padding: 0 5px;
        border-right: 1px solid rgb(24, 73, 129);
        user-select: none;
    }
}
